---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title={"Projects"}>
  <>My Astro Learning Projects</>
  <ul>
    <li><a href="/projects/project-1/">Project 1</a></li>
  </ul>
</Layout>
