---
import { capitalize } from "../utils";

const { tags } = Astro.props;

interface Props {
  tags: string[];
}

// should be clickable in the future and navigate to a tag page
---

<div class="flex flex-wrap">
  {
    tags.map((tag: string) => (
      <span 
        class="inline-flex items-center px-3 py-1.5 bg-blue-50 text-blue-700 rounded-full text-xs font-medium border border-blue-100 mr-1 mb-1"
      >
        <span class="w-1.5 h-1.5 bg-blue-400 rounded-full mr-1.5"></span>
        {capitalize(tag)}
      </span>
    ))
  }
</div>
